<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/style.css" />
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <p>After logging in, you will be redirected to the welcome page.</p>
</body>
</html>

